{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
      "tsconfigRootDir": "."
    },
  "plugins": [
    "@typescript-eslint",
    "react",
    "prettier"
  ],
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "prettier/prettier": "error",
    "@typescript-eslint/explicit-function-return-type": [
      "off",
      { "allowExpressions": true }
    ],
    "@typescript-eslint/explicit-member-accessibility": [
      "error",
      { "accessibility": "no-public" }
    ],
    "@typescript-eslint/explicit-module-boundary-types": [
      "off",
      { "allowTypedFunctionExpressions": false }
    ],
    "@typescript-eslint/naming-convention" : [
      "error",
      {
        "selector": "default",
        "format": ["camelCase"]
      },
      {
          "selector": "variable",
          "format": ["PascalCase", "camelCase", "UPPER_CASE"]
      },
      {
        "selector": "parameter",
        "format": ["PascalCase", "camelCase"]
      },
      {
          "selector": "property",
          "format": ["PascalCase", "camelCase"]
      },
      {
          "selector": "typeLike",
          "format": ["PascalCase"]
      },
      {
        "selector": "interface",
        "format": ["PascalCase"],
        "custom": {
          "regex": "^I[A-Z]",
          "match": true
        }
      }
    ]
  },
  "settings": {
    "react": {
        "version": "detect"
    }
  }
}